

body {
    overflow: hidden; /* prevents scrolling */
    font-size: 17px;
    color: rgb(0, 17, 255); /* Sets text color*/
    background-color: rgb(255, 255, 255); /* Sets background color */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40%;
    margin-right: 40%;
}

img {
    width: 100px; /* Change width */
    height: auto; /* Preserve the aspect ratio */
}

h1, h2 {
    font-weight: normal; /* h1 elements are automatically bold, so we undo that here */
    text-align: center;
}

h1 {
    padding-top: 30px;
}

h2 {
    font-size: 20px;
    font-style: italic;
    padding-bottom: 100px;
}

#bondiRescue {
    font-style: italic;
}

video {
    width: 100px; 
    height: auto;  
}

#loveYou {
    position: fixed;
    bottom: 30px;
    text-align: center;
    left: 50%;                  /* Move to the middle of the screen */
    transform: translateX(-50%); /* Center it horizontally */
}

